#market_container {
	width:650px;
}

#skybox_template_title_clear {
	height: 0px !important
}

#skybox_template_title {
	font-size: 16px;
	color: #444;
	font-weight: bold;
}
.column {
	float: left;
	width:25%;
}
	.column .market_title, .column .market_spacer {
		height: 26px;
		margin-top: 10px;
		margin-bottom: 5px;
	}
	.column .market_title {
		font-size: 22px;
		color: #444;
		font-weight: bold;
	}
	.column a {
		font-weight: bold;
		text-decoration: none;
		color: #444;
		display: block;
		padding: 3px 10px;
	}
