
<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>NewYears.com</title>
		<meta name="Description" content="NewYears.com">
		<meta name="Keywords" content="new years, new year, parties, end of year, celebration, 2014, newyears.com, events, tickets">
		<meta property="og:title" content="NewYears.com" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="newyears.com" />
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="scripts/jcarousel/skins/tango/skin.css" />
		<link rel="stylesheet" type="text/css" href="scripts/jcarousel/skins/mini/skin.css" />
		<link rel="profile" href="http://microformats.org/profile/hcalendar">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
		<script src="scripts/dropit.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'> 
		<script type="text/javascript" src="scripts/home.js"></script>
		<script type="text/javascript" src="scripts/jcarousel/jquery.jcarousel.min.js"></script>
		<script src="scripts/countdown.js" type="text/javascript"></script>

    </head>
    <body>
		<header id="sticky_navigation">
		<div id="top-nav">
		<div class="logo"><a href="#"><img id="swaplogo" src="content/images/logo.png" alt="Logo"/></a>
			<div id="counter">
				<script type="application/javascript">
				var myCountdown2 = new Countdown({
				year	:2014,
				ampm	: "am",	
				month	: 1, 
				day		: 1,
				width	: 230, 
				height	: 40,
				rangeHi:"month"	// <- no comma on last item!
				});

				</script>
			</div>
		</div>
			<nav id="head-top">
			<img src="content/images/top_placeholder.png" alt=""/>
			</nav>
		</div>
			<nav id="head-bottom">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Events</a></li>
				<li><a href="#">Times Square</a></li>
				<li><a href="#">Family</a></li>
				<li><a href="#">Bar Crawls</a></li>
				<li><a href="#">Cruises</a></li>
				<li><a href="#">Dinners</a></li>
			</ul>
			</nav>
		</header>
	<section class="city-ad">
		<div class="choose">
			<div id="dropdowns">
				<ul class="menu">
				<li>
					<a class="choosebtn" href="#">Choose City</a>		
					<span class="top-phone">(212) 600-2060</span>
					<ul>
						<li><a href="#">Miami</a></li>
						<li><a href="#">New York</a></li>
						<li><a href="#">Boston</a></li>
						<li><a href="#">Chicago</a></li>
					</ul>
				</li>
				</ul>	
			</div>
		</div>
		<div id="ads"> <!-- AD area --->
			
		</div>
	</section>
	
	<section class="slider">
		<ul id="large-carousel" class="jcarousel-skin-tango">
		<li><img src="content/images/banner_placeholder.png" alt=""/></li>
		<li><img src="content/images/banner_placeholder.png" alt=""/></li>
		<li><img src="content/images/placeholder_9.jpg" alt=""/></li>
		</ul>
		<section>
		<div class="banner-mid">
		<p class="banner-text">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget commodo nisl. Donec imperdiet, felis eu faucibus accumsan, sem purus pharetra mauris, sit amet dictum odio eros sit amet metus. Maecenas nec sem non massa tincidunt laoreet id a ante. Vestibulum rhoncus iaculis bibendum. Sed consectetur ornare massa at suscipit. Nullam interdum massa eu tortor pretium in mattis orci rutrum.
		</p>
		<img src="content/images/banner_mid.png" alt=""/>
		</div>
		</section>
	</section>
	<section class="content1">
	<div class="container">
		<div class="content1-head" itemscope itemtype="http://schema.org/Place">
		<h1 itemprop="name">Miami</h1>
		<span class="view-link"><a itemprop="url" class="description" href="#">View all New Year's Eve parties in Miami</a>(23)</span>
		</div>
		<section class="content-row1">
		<article itemscope itemtype="http://schema.org/Place" class="vevent">
			<a href="#"><img itemprop="photo" src="content/images/placeholder_1.jpg" alt=""/></a>
			<div class="box-content">
			<span itemscope itemtype="http://schema.org/Event">
				<h2 itemprop="name"><a href="#">Capitale</a></h2>
			</span>
				<span itemscope itemtype="http://schema.org/AggregateOffer">
					<span class="summary"><span itemprop="name">GA</span> from <span itemprop="lowPrice">$95+</span></span> | <span class="summary"><span itemprop="name">VIP</span> from <span itemprop="lowPrice">$145+</span></span>
				</span>
				<div><a class="buy-tickets" href="#">Buy Tickets</a></div>
			</div>
		</article>
		<article class="grey">
			<a href="#"><img itemprop="photo" src="content/images/placeholder_1.jpg" alt=""/></a>
			<div class="box-content">
			<span itemscope itemtype="http://schema.org/Event">
				<h2 itemprop="name"><a href="#">Capitale</a></h2>
			</span>
				<span itemscope itemtype="http://schema.org/AggregateOffer">
					<span class="summary"><span itemprop="name">GA</span> from <span itemprop="lowPrice">$95+</span></span> | <span class="summary"><span itemprop="name">VIP</span> from <span itemprop="lowPrice">$145+</span></span>
				</span>
				<div><a class="buy-tickets" href="#">Buy Tickets</a></div>
			</div>
		</article>
		
		<div id="place-desc" itemscope itemtype="http://schema.org/Place">
			<a href="#"><img itemprop="logo" src="content/images/miami-logo.jpg" alt=""/></a>
			<p itemprop="description">Lorem ipsum dolor sit amet, consectetur adipisicing sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea awdkj adskjfatr commodo consequat. 
			</p>
		</div>
		</section>
	<section class="content-row2">
		<article class="grey-long">
			<a href="#"><img itemprop="photo" src="content/images/placeholder_3.jpg" alt=""/></a>
			<div class="box-content">
			<h2 itemprop="name"><a href="#">Capitale</a></h2>
			<span itemprop="description offers" itemscope itemtype="http://schema.org/AggregateOffer">
			<span class="summary">GA from </span><span itemprop="lowPrice">$95+</span> | <span class="summary">VIP </span>from <span itemprop="lowPrice">$145+</span></span>
			<div><a class="buy-tickets" href="#">Buy Tickets</a></div>
			</div>
		</article>
		<article itemscope itemtype="http://schema.org/Place">
			<a href="#"><img itemprop="photo" src="content/images/placeholder_4.jpg" alt=""/></a>
			<div class="box-content">
			<h2 itemprop="name"><a href="#">Capitale</a></h2>
			<span itemprop="description offers" itemscope itemtype="http://schema.org/AggregateOffer">
			<span class="summary">GA from </span><span itemprop="lowPrice">$95+</span> | <span class="summary">VIP </span>from <span itemprop="lowPrice">$145+</span></span>
			<div><a class="buy-tickets" href="#">Buy Tickets</a></div>
			</div>
		</article>
		<article itemscope itemtype="http://schema.org/Place">
			<a href="#"><img itemprop="photo" src="content/images/placeholder_5.jpg" alt=""/></a>
			<div class="box-content">
			<h2 itemprop="name"><a href="#">Capitale</a></h2>
			<span itemprop="description offers" itemscope itemtype="http://schema.org/AggregateOffer">
			<span class="summary">GA from </span><span itemprop="lowPrice">$95+</span> | <span class="summary">VIP </span>from <span itemprop="lowPrice">$145+</span></span>
			<div><a class="buy-tickets" href="#">Buy Tickets</a></div>
			</div>
		</article>
	</section>
	</div>
	</section><!--end content1-->
	
	<section class="content2"> <!-- second content box -->
	<div class="container">
		<div class="content2-head">
		<h1>New York</h1>
		<span class="view-link"><a href="#">View all New Year's Eve parties in New York</a>(23)</span>
		</div>
		<section class="content2-col1">
		<article itemscope itemtype="http://schema.org/Place">
			<a href="#"><img itemprop="photo" src="content/images/placeholder_6.jpg" alt=""/></a>
			<div class="box-content">
			<h2 itemprop="name"><a href="#">Capitale</a></h2>
			<span itemprop="description offers" itemscope itemtype="http://schema.org/AggregateOffer">
			<span class="summary">GA from </span><span itemprop="lowPrice">$95+</span> | <span class="summary">VIP </span>from <span itemprop="lowPrice">$145+</span></span>
			<div><a class="buy-tickets" href="#">Buy Tickets</a></div>
			</div>
		</article>
		<article itemscope itemtype="http://schema.org/Place">
			<a href="#"><img itemprop="photo" src="content/images/placeholder_7.jpg" alt=""/></a>
			<div class="box-content">
			<h2 itemprop="name"><a href="#">Capitale</a></h2>
			<span itemprop="description offers" itemscope itemtype="http://schema.org/AggregateOffer">
			<span class="summary">GA from </span><span itemprop="lowPrice">$95+</span> | <span class="summary">VIP </span>from <span itemprop="lowPrice">$145+</span></span>
			<div><a class="buy-tickets" href="#">Buy Tickets</a></div>
			</div>
		</article>
		<article class="grey-long2">
			<a href="#"><img itemprop="photo" src="content/images/placeholder_8.jpg" alt=""/></a>
			<div class="box-content">
			<h2 itemprop="name"><a href="#">Capitale</a></h2>
			<span itemprop="description offers" itemscope itemtype="http://schema.org/AggregateOffer">
			<span class="summary">GA from </span><span itemprop="lowPrice">$95+</span> | <span class="summary">VIP </span>from <span itemprop="lowPrice">$145+</span></span>
			<div><a class="buy-tickets" href="#">Buy Tickets</a></div>
			</div>
		</article>
		</section>
	<section class="content2-col2">
		<ul id="mini-carousel" class="jcarousel-skin-mini">
			<li><img src="content/images/placeholder_9.jpg" alt=""/></li>
			<li><img src="content/images/placeholder_9.jpg" alt=""/></li>
			<li><img src="content/images/placeholder_9.jpg" alt=""/></li>
			<li><img src="content/images/placeholder_9.jpg" alt=""/></li>
		</ul>
	</section>
	</div> <!-- end container / white bg box -->
	</section><!--end content2 box-->
	
	<section class="guides"> <!--3rd section / party guides -->
	<div class="title-divide">
		<img src="content/images/partyguides.png" alt=""/>
	</div>
		<section class="guide1">
		</section>
		<section class="guide2">
		</section>
		<section class="guide3">
		</section>
	</section> <!-- end 3rd section -->
	
	<section id="list-places"> <!-- state/place list -->
	<nav>
	<ul id="place-list">
	<span>United States</span>
		<li><a href="#">Addison, TX</a></li>
		<li><a href="#">Albany</a></li>
		<li><a href="#">Astoria</a></li>
		<li><a href="#">Atlanta</a></li>
		<li><a href="#">Atlantic City</a></li>
		<li><a href="#">Austin</a></li>
		<li><a href="#">Baltimore</a></li>
		<li><a href="#">Boston</a></li>
		<li><a href="#">Bronx</a></li>
		<li><a href="#">Brooklyn</a></li>
		<li><a href="#">Charleston</a></li>
		<li><a href="#">Charlotte</a></li>
	</ul>
	<ul id="place-list">
		<li><a href="#">Chicago</a></li>
		<li><a href="#">Columbus</a></li>
		<li><a href="#">Dallas</a></li>
		<li><a href="#">Denver</a></li>
		<li><a href="#">El Paso</a></li>
		<li><a href="#">Fort Lauderdale</a></li>
		<li><a href="#">Fort Worth</a></li>
		<li><a href="#">Harlem</a></li>
		<li><a href="#">Hartford</a></li>
		<li><a href="#">Hempstead</a></li>
		<li><a href="#">Hoboken</a></li>
		<li><a href="#">Hollywood, CA</a></li>
	</ul>
	<ul id="place-list">
		<li><a href="#">Hollywood, FL</a></li>
		<li><a href="#">Houston</a></li>
		<li><a href="#">Indianapolis</a></li>
		<li><a href="#">Jacksonville</a></li>
		<li><a href="#">Kansas City</a></li>
		<li><a href="#">Las Vegas</a></li>
		<li><a href="#">Long Island</a></li>
		<li><a href="#">Los Angeles</a></li>
		<li><a href="#">Louisville</a></li>
		<li><a href="#">Manhattan Beach</a></li>
		<li><a href="#">Miami</a></li>
		<li><a href="#">Milwaukee</a></li>
	</ul>
	<ul id="place-list">
		<li><a href="#">Minneapolis</a></li>
		<li><a href="#">Morristown</a></li>
		<li><a href="#">New Brunswick</a></li>
		<li><a href="#">New Haven</a></li>
		<li><a href="#">New Jersey</a></li>
		<li><a href="#">New Orleans</a></li>
		<li><a href="#">New York</a></li>
		<li><a href="#">Orlando</a></li>
		<li><a href="#">Philadelphia</a></li>
		<li><a href="#">Phoenix</a></li>
		<li><a href="#">Pittsburgh</a></li>
		<li><a href="#">Portland</a></li>
	</ul>
	<ul id="place-list">
		<li><a href="#">Providence</a></li>
		<li><a href="#">Queens</a></li>
		<li><a href="#">Raliegh</a></li>
		<li><a href="#">Rockville Centre</a></li>
		<li><a href="#">San Antonio</a></li>
		<li><a href="#">San Diego</a></li>
		<li><a href="#">San Francisco</a></li>
		<li><a href="#">San Jose</a></li>
		<li><a href="#">Santa Monica</a></li>
		<li><a href="#">Scranton</a></li>
		<li><a href="#">Seattle</a></li>
		<li><a href="#">Tampa Bay</a></li>
	</ul>
	<ul id="place-list">
	<span>Canada</span>
		<li><a href="#">Calgary</a></li>
		<li><a href="#">Montreal</a></li>
		<li><a href="#">Toronto</a></li>
		<li><a href="#">Vancouver</a></li>
		<li><a href="#">Victoria</a></li>
		<li><a href="#">Whistler</a></li>
	<span class="last">Europe</span>
		<li><a href="#">London</a></li>
	</ul></nav>
	</section> <!--end state/place list -->
	
<footer>
<section>
	<section id="left-ftside">
	<section class="foot-top">
	<div id="dropdowns">
	<ul class="menu">
    <li>
        <a class="btn1" href="#">English</a>
        <ul>
            <li><a href="#">English</a></li>
            <li><a href="#">English</a></li>
            <li><a href="#">English</a></li>
            <li><a href="#">English</a></li>
        </ul>
	</li>
	</ul>	
		<ul class="menu">
			<li>
				<a class="btn2" href="#">USD</a>
				<ul>
					<li><a href="#">USD</a></li>
					<li><a href="#">USD</a></li>
					<li><a href="#">USD</a></li>
					<li><a href="#">USD</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<!--	<select>
		  <option value="English" selected>English</option>
		  <option value="English">English</option>
		  <option value="English">English</option>
		  <option value="English">English</option>
		</select> 		
		<select>
		  <option value="USD" selected>USD</option>
		  <option value="USD">USD</option>
		  <option value="USD">USD</option>
		  <option value="USD">USD</option>
		</select> -->
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur viverra lorem ut mi sodales pulvinar. Praesent dictum erat at risus accumsan non dictum lacus sollicitudin. Fusce et purus diam, sit amet pharetra lectus. Pellentesque sed sapien turpis. Aenean sagittis ipsum sed quam iaculis eleifend. Maecenas ut quam lectus. Suspendisse commodo urna at mi scelerisque et blandit eros euismod.
		</p>
	</section> <!--end top part footer -->
	<section class="foot-bottom">
		<ul>
		<span>Desk.com</span>
		<li><a href="#">Home</a></li>
		<li><a href="#">About Us</a></li>
		<li><a href="#">Pricing</a></li>
		<li><a href="#">Customers</a></li>
		<li><a href="#">Careers</a></li>
		<li><a href="#">Library</a></li>
		<li><a href="#">Blog</a></li>
		</ul>
		<ul>
		<span>Features</span>
		<li><a href="#">Home</a></li>
		<li><a href="#">About Us</a></li>
		<li><a href="#">Pricing</a></li>
		<li><a href="#">Customers</a></li>
		<li><a href="#">Careers</a></li>
		<li><a href="#">Library</a></li>
		<li><a href="#">Blog</a></li>
		</ul>
		<ul>
		<span>Partners</span>
		<li><a href="#">Home</a></li>
		<li><a href="#">About Us</a></li>
		<li><a href="#">Pricing</a></li>
		<li><a href="#">Customers</a></li>
		<li><a href="#">Careers</a></li>
		<li><a href="#">Library</a></li>
		<li><a href="#">Blog</a></li>
		</ul>
		<ul>
		<span>Resources</span>
		<li><a href="#">Home</a></li>
		<li><a href="#">About Us</a></li>
		<li><a href="#">Pricing</a></li>
		<li><a href="#">Customers</a></li>
		<li><a href="#">Careers</a></li>
		<li><a href="#">Library</a></li>
		<li><a href="#">Blog</a></li>
		<span>Stories</span>
		<li><a href="#">Home</a></li>
		<li><a href="#">About Us</a></li>
		<li><a href="#">Pricing</a></li>
		</ul>
		<ul>
		<span>Support</span>
		<li><a href="#">Home</a></li>
		<li><a href="#">About Us</a></li>
		<li><a href="#">Pricing</a></li>
		<li><a href="#">Customers</a></li>
		<li><a href="#">Careers</a></li>
		<li><a href="#">Library</a></li>
		<li><a href="#">Blog</a></li>
		</ul>
		</section> <!-- end bottom part of footer -->
	</section> <!-- end entire left side of footer -->
	<section id="right-ftside">
			<input class="post-party" type="button" value="Post Your Party"></input>

		<aside> <!--footer sidebar -->
		<div class="side-top">
			<span class="lefttitle">connect with us</span>
			<span class="phone">1-877-226-9212</span>
			<span><a class="mail" href="#">General questions?</a></span>
			<span><a class="mail" href="#">Lost and need help?</a></span>
			<span><a class="mail" href="#">Talk to our Sales team</a></span>
		</div>
		<div>
			<img src="content/images/chatbox.png" alt=""/>
		</div>
		<div class="social">
			<a href="https://twitter.com/twitter" class="twitter-follow-button" data-show-count="false">Follow @twitter</a>
			<div class="social-pad">Follow us on <span class="tw">twitter</span></div>
			<div class="fb-like" data-href="http://www.newyears.com" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>		
			<div class="social-pad">Like us on <span class="fb">facebook</span></div>	
			<div class="g-plusone" data-size="medium"></div>
			<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
			<div>Add us on <span class="gplus">google+</span></div>
		</div>
		</aside> <!--end footer sidebar-->
	</section><!-- end entire right side of footer -->
	<section id="foot-end">
		<span class="foot-link">NewYears.com</span>
		<div class="copyright">&copy2013 newyears.com, inc. All rights reserved. <a href="#">Terms of Service</a> & <a href="#">Privacy Policy</a>.</div>
	</section></section>
</footer>
	
	
    </body>
</html>
<script type="text/javascript">
jQuery(document).ready(function() {
    jQuery('#large-carousel').jcarousel({
	    scroll: 1,
		wrap: 'circular',
		itemFallbackDimension: 300,
        animation: 2500,
		auto: 3,
		vertical: false
     }); 
});

jQuery(document).ready(function() {
    jQuery('#mini-carousel').jcarousel({
        scroll: 1,
		wrap: 'circular',
		itemFallbackDimension: 401,
		vertical: false
     }); 
});
</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<div id="fb-root"></div> <!--facebook button -->
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript"> <!--gplus button -->
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>


<script type="text/javascript"> <!-- large front image/banner slider -->
	$(document).ready(function () {
		$("#makeMeScrollable").smoothDivScroll({
			mousewheelScrolling: "allDirections",
			manualContinuousScrolling: true,
			autoScrollingMode: "onStart"
		});
	});
</script>